@charset "UTF-8";

/* aparelho em pé  (portrait) */

 html, body {
    background: url(../Imagens/cev-portrait.jpg);
    background-position: left bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
 }